@import '../../../index.scss';

footer {
    background-color: $light-grey;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;

    a {
        color: $grey;
    }

    ul {
        li {
            border-color: $grey;
        }
    }
}