@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$blue: #0A366B;
$lighter-blue: #f3f7f9;
$dark-gray: #e7ebf1;
$light-grey: #F7F7F7;
$grey: #575B60;
$light-blue: #849AB5;
$white: #ffffff;
$black: #000000;
$turquoise: #00B3CA;
$yellow: #F7C13B;
$orange: #EE8E30;
$pink: #F52F5B;
$green: #00D4A7; 

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
  
}

.wrapper {
  background: $dark-gray;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%; 
  //max-width: 1536px;
  min-height: 100vh;
  position: relative; 
  padding-bottom: 0px;
}

a {
  color: $black;
}

div,p {
  clear: both;
  position: relative;
}